.LoginControls {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.LoginControls .Controls {
    height: 40%;
    width: 80%;
    display: flex;
    flex-flow: column;
    align-items: self-start;
    margin: auto;
}

.Controls h1 {
    font-family: Asap, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: #495460;
}

.Controls input {
    width: 100%;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #495460;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    font-family: Asap, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

.Controls input:focus {
    outline: none !important;
    border: 1px solid #0D2D57;
    box-shadow: #0D2D57 1px 1px;
}

.Controls label,
.Controls a {
    font-family: Asap, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #495460;
    margin-bottom: 5px;
}

.Controls .PasswordLabels {
    width: 100%;
    height: 15px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.Controls .PasswordLabels .ForgotPassword {
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    color: #0D2D57;
}

.Controls .FormActions {
    width: 100%;
    height: 45px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.Controls .FormActions .SignIn {
    align-self: flex-start;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    color: #0D2D57;
}

.Controls .FormActions button {
    width: 145px;
    height: 40px;
    background: #0D2D57;
    border: 1px solid #0D2D57;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    font-family: Asap, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}