@import '../../../variables';

.Survey {
    width: 600px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 5px 10px;
    box-shadow: black 2px 2px;
}

.Title {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.Title p {
    margin: 0;
}

.surveysTable td {
    vertical-align: middle;
}

.Error {
    height: 16px;
    width: 100%;
}

.SubmitButton {
    display: flex;
    justify-content: flex-end;

    button {
        height: 45px;
        background-color: white;
        border-color: $primary-color;
        color: $primary-color;
        font-weight: bold;
        font-size: 20px;
        border-radius: 45px;
        cursor: pointer;
        align-self: flex-end;
        padding: 0 25px;
        margin-right: 20px;
        margin-bottom: 40px;

        &:hover {
            background-color: $primary-color;
            color: white;
        }
    }
}

legend {
    font-size: 18px;
}

label {
    margin-left: 10px;
}

.Expiry {
    display: inline-block;
    padding: 5px;
    margin-left: 15px;

    span {
        color: $primary-color;
        font-weight: 500;
    }
}

.Expiry, .Name {
    display: inline-block;
}
